{% extends 'base.html.twig' %}

{% block title %}Modifier Mission{% endblock %}
{% block page_title %}Modification Mission{% endblock %}

{% block body %}
<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-edit"></i> Modifier Mission</h3>
    </div>
    <div class="card-body">
        {{ include('mission/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a href="{{ path('app_mission_index') }}" class="btn btn-default">
            <i class="fas fa-arrow-left"></i> Retour
        </a>
        {{ include('mission/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}