-<form method="post" action="{{ path('app_no_delete', {'id': formations.id}) }}" …>
-    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formations.id) }}">
+<form method="post" action="{{ path('app_formation_delete', {'id': formation.id}) }}" …>
+    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
     <button class="btn">Delete</button>
 </form>
