{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Test AdminLTE</h3>
                </div>
                <div class="card-body">
                    <p>L'intégration fonctionne ! ✅</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}