{# templates/dashboard/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Tableau de bord</h1>
    <!-- Contenu spécifique -->
{% endblock %}