{% extends 'base.html.twig' %}

{% block title %}Nouvelle inscription{% endblock %}

{% block body %}
    <h1>Créer une nouvelle inscription</h1>

    {{ include('yes/_form.html.twig', {'button_label': 'Créer'}) }}

    <a href="{{ path('app_yes_index') }}">Retour à la liste</a>
{% endblock %}
